body {
    background: url('../images/scroll_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    color: #3a1d0f;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #e8d4b4;
    border-color: #704214;
    padding: 10px 0;
    min-height: 2vh;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: left;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #704214;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #e0c08f;
}

.monster-detail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.error-page {
    text-align: center;
    padding: 50px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e8d4b4;
    color: #5b2c06;
    border-color: #704214;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

.monster-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.monster-card {
    background-color: #e8d4b4;
    border: 3px solid #704214;
    padding: 15px;
    width: 100%;
    max-width: 180px;
    text-align: center;
    border-radius: 15px;
    font-size: 1rem;
    color: #3a1d0f;
    position: relative;
    margin: 0 auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.monster-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 2px solid #5b2c06;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
    display: block;
    margin: 0 auto 10px;
}

.monster-card h2 {
    font-size: 1.2rem;
    color: #5b2c06;
    text-align: center;
    margin-bottom: 10px;
}

.monster-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.monster-details {
    padding: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #e8d4b4;
    border: 3px solid #704214;
    border-radius: 15px;
    margin: 40px auto;
    max-width: 90%;
}

.details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.monster-details-image {
    object-fit: contain;
    border: 3px solid #704214;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.details-text {
    flex: 1;
    padding: 10px;
}

.details-text h2 {
    font-size: 1.8rem;
    color: #5b2c06;
    margin-bottom: 10px;
}

.details-text p {
    font-size: 1rem;
    margin: 5px 0;
    line-height: 1.5;
}